<!DOCTYPE html>
<html>
<head>
  <title>BasicRailsAppHw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Basic Rails Application</h1>
<img src="/assets/RubyOnRails.png" class="ror" height="240">
<img src="/assets/CRUD.png" class="crud" width="300">
<%= yield %>

</body>
</html>
